{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friedrich</title>
    <link rel="shortcut icon" href="img/icono/icono2.png">
    <link rel="import" href="plantillashtml/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body id="body">
  
  <a href="/formulario/" class="boton-flotante" >
    <button class="btn"><p class="contacto">Contacto</p></button></a>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
        
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
    </nav>
    <div style="position: relative;">
      <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
      <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
    </div>
    <br>

  <div id="parrafo" class="card mb-3" style="max-width: 1200px;">          <!-- aca se cambia color de la descripcion con css -->
    <div class="row g-0">
      <div class="col-md-3">
        <img src="{% static 'img/Caspar/Caspar David F.jpg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Caspar David Friedrich</h5>
          <p id="subfont2" class="card-text">Caspar David Friedrich fue un pintor paisajista del romanticismo alemán del siglo xix. A menudo se le ha reconocido como el artista alemán 
            más sobresaliente de su generación. En las escenas alegóricas de su periodo medio, muestra figuras contemplativas contrapuestas a cielos nocturnos, nieblas matinales, 
            viejos árboles o ruinas góticas. La presencia humana apenas desempeña un papel marginal en contraposición a paisajes imponentes, lo cual dirige la mirada del 
            espectador hacia la dimensión metafísica del hombre.​ A través de sus obras, Friedrich se aleja del clasicismo e intenta dar una respuesta subjetiva, simbólica y emocional al mundo natural.</p>
          

          <!-- Button trigger modal -->
          <button id="subfont3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver biografía del autor
          </button>
                       
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">           
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 id="upfont2" class="modal-title fs-5" id="exampleModalLabel">Caspar David Friedrich</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="subfont2" class="modal-body"> 
                  Nombre : Caspar David 
                  Apellido : Friedrich 
                  Fecha de naciemiento : 05 de septimbre de 1774 
                  Lugar de nacimiento : Greifswald, Alemania
                  Fecha de muerte : 07 de mayo 1840
                  Friedrich maduró en una época en la que crecía la desilusión en toda la clase media europea dando lugar a una nueva apreciación de la espiritualidad. Este cambio en los ideales 
                  se expresa a menudo a través de una revaluación de la naturaleza, en artistas como Friedrich, Joseph Mallord William Turner y John Constable que trataron de representar la naturaleza 
                  como una «creación divina, que debe ajustarse contra el artificio de la civilización humana».
                  Los trabajos que Friedrich realizó le trajeron renombre muy temprano en su carrera, y contemporáneos suyos como el escultor francés David d'Angers lo describían como el hombre 
                  que había descubierto «la tragedia del paisaje». Sin embargo, su obra cayó en desgracia durante sus últimos años y él murió en la oscuridad; en palabras del historiador del arte Philip Miller, 
                  «medio loco». Mientras Alemania migraba hacia la modernización a finales del siglo xix, un nuevo sentido de urgencia caracterizó el arte, y las descripciones contemplativas y de quietud de 
                  Friedrich llegaron a ser vistas como el producto de una época pasada. El siglo xx trajo consigo una renovada apreciación de su obra, a partir de 1906 con una exposición de treinta y dos 
                  de sus pinturas en Berlín. Para la década de 1920 sus pinturas habían sido descubiertas por los expresionistas. En la década de 1930 y principios de 1940 los surrealistas y existencialistas 
                  tomaron con frecuencia ideas prestadas de su trabajo. El ascenso del nazismo en 1930 trajo consigo el resurgimiento de la popularidad de Friedrich, pero este decayó junto con el régimen debido 
                  a la errónea asociación de su nacionalismo con esta ideología. No fue sino a finales de 1970 cuando Friedrich recuperó su reputación como icono del romanticismo alemán y pintor de renombre mundial.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div id="parrafo" class="card h-100">       <!-- parrafo -->
        <img src="{% static 'img/Caspar/el caminante sobre el mar.jpg' %}" class="card-img-top" alt="el caminate " height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">El caminante sobre el mar</h5>
          <p id="subfont2" class="card-text">El caminante sobre el mar de nubes, del pintor romántico alemán Caspar David Friedrich, ha sido considerada 
            como una de las obras maestras y más representativas del Romanticismo. Data del año 1818. Se trata de un óleo sobre tela 
            que mide 74,8 centímetros de ancho por 94,8 centímetros de alto.</p>  
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">
        <img src="{% static 'img/Caspar/la mujer sobre la ventana.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">La mujer en la ventana</h5>
          <p id="subfont2" class="card-text">Mujer en la ventana es un cuadro realizado por Caspar Friedrich ​ en 1822. La pintura es la única imagen de un interior 
            pintada por el autor, para la que utilizó a su esposa Christiane Caroline Friedrich como modelo.​</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">
        <img src="{% static 'img/Caspar/Lunas saliendo sobre el mar.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Lunas saliendo sobre el mar</h5>
          <p id="subfont2" class="card-text">Salida de la luna junto al mar o Salida de la luna sobre el mar es una pintura al óleo sobre lienzo de 1822 
            del pintor alemán Caspar David Friedrich. La obra representa un paisaje marino romántico.</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
  </div>


  

  <script>
    const searchButton = document.getElementById('search-button');
  
    searchButton.addEventListener('click', () => {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();
      let page = '';
  
      switch (searchTerm) {
        case 'monet':
          page = 'monet.html';
          break;
        case 'van gogh':
          page = 'vangogh.html';
          break;
        case 'friedrich':
          page = 'C.friedrich.html';
          break;
        case 'millet':
          page = 'jeanmillet.html';
          break;
        case 'goya':
          page = 'goya.html';
          break;
        default:
          break;
      }
  
      if (page !== '') {
        window.location.href = page;
      }
    });
  </script>

</body>
</html>
{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}