{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="import" href="pie.html">
	  <link rel="shortcut icon" href="../img/icono/icono2.png">
    <title>Política de reembolsos</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
    
</head>
<body>
  <body id="body">


	<a href="/formulario/" class="boton-flotante">
		<button class="btn"><p class="contacto">Contacto</p></button></a>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
        
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
    </nav>

	 
	  <br>
	  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
    <h1 style="text-align: center;">Política de reembolsos</h1>

  <div style="text-align: center; max-width: 600px; word-wrap: break-word; display: block; margin: 0 auto;">
    <p style="text-align: justify;">Nuestra política de reembolsos se ajusta a lo establecido por el SERNAC, lo que significa que si el producto que compraste falla, tienes derecho a la garantía legal.

        ¿Puedo cambiar un producto que compré?
        
        Si la obra que compraste no cumplió con tus expectativas, entonces te ofrecemos 10 días para la devolución del dinero (a contar del día que hiciste la compra) y 3 meses para el cambio del producto en el caso que presente algún deterioro o falla. El enmarcado al ser a elección y a medida no tiene devolución. Es muy importante que el producto y envase o caja se encuentre en perfecto estado. para poder hacer el cambio.
        
         ¿Cómo cambiar o devolver una obra?
        
        Escríbenos un correo electrónico a grupozero@gmail.com indicándonos cuál es la obra que quieres cambiar o devolver, el número de boleta y el día que compraste el producto. Por este medio vamos a realizare todas las gestiones.
        
        CONTÁCTANOS</p>
        

  </div>
</body>

<hr>




<script>
    const searchButton = document.getElementById('search-button');
  
    searchButton.addEventListener('click', () => {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();
      let page = '';
  
      switch (searchTerm) {
        case 'monet':
          page = '../monet.html';
          break;
        case 'van gogh':
          page = '../vangogh.html';
          break;
        case 'friedrich':
          page = '../C.friedrich.html';
          break;
        case 'millet':
          page = '../jeanmillet.html';
          break;
        case 'goya':
          page = '../goya.html';
          break;
        default:
          break;
      }
  
      if (page !== '') {
        window.location.href = page;
      }
    });
  </script>

</hr>
</html>

{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}