{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
	
    <title>Formulario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
       

        .form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #222;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            color: #fff;
        }

        .form label {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            background-color: #333;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: #fff;
            margin-bottom: 15px;
        }

        .form-control:focus {
            outline: none;
            box-shadow: 0 0 5px #007bff;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>

</head>

<body id="body">
    <a href="/formulario/" class="boton-flotante">
        <button class="btn"><p class="contacto">Contacto</p></button></a>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css" type="text/css"/>
       
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div id="nav" class="container-fluid">
              <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
              <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
                <ul class="dropdown-menu">
                  <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
                  <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
                  <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
                  <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
                  <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
                </ul>
                  </li>
                  
            <li class="nav-item">
              {% if request.user.is_authenticated %}
              <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
              
            </li>
                  {% else %}
                    <li class="nav-item">
                      <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                      <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
                    </li>
                  {% endif %}
                </ul>
                <form id="search-form" class="d-flex" role="search">
                  <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                  <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
                </form>
              </div>
            </div>
          </nav>
          <br>

          <br/>

          <br>

          <br/>
<form method="POST" class="form" action="{% url 'Formulario' %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
        {{ form.nombre }}
    </div>
    <div class="mb-3">
        <label for="{{ form.apellido.id_for_label }}" class="form-label">Apellido</label>
        {{ form.apellido }}
    </div>
    <div class="mb-3">
        <label for="{{ form.telefono.id_for_label }}" class="form-label">Teléfono</label>
        {{ form.telefono }}
    </div>
    <div class="mb-3">
        <label for="{{ form.correo.id_for_label }}" class="form-label">Correo electrónico</label>
        {{ form.correo }}
    </div>
    <div class="mb-3">
        <label for="{{ form.mensaje.id_for_label }}" class="form-label">Mensaje</label>
        {{ form.mensaje }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<br>

<br/>


<br>

<br/>

<br>

<br/>

<br>

<br/>

<script>
    const searchButton = document.getElementById('search-button');
  
    searchButton.addEventListener('click', () => {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();
      let page = '';
  
      switch (searchTerm) {
        case 'monet':
          page = '/monet/';
          break;
        case 'van gogh':
          page = '/vangogh/';
          break;
        case 'friedrich':
          page = '/friedrich/';
          break;
        case 'millet':
          page = '/jeanmillet/';
          break;
        case 'goya':
          page = '/goya/';
          break;
        default:
          break;
      }
  
      if (page !== '') {
        window.location.href = page;
      }
    });
  </script>
  
</body>
</html>
{% endblock %}


{% block footer %}
 {% include "pie.html" %}
{% endblock %}

