{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goya</title>
    <link rel="shortcut icon" href="img/icono/icono2.png">
    <link rel="import" href="plantillashtml/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body id="body">
  
  <a href="/formulario/" class="boton-flotante">
    <button class="btn"><p class="contacto">Contacto</p></button></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
        
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
    </nav>

    <div style="position: relative;">
      <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
      <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
    </div>
    <br>

    <!-- Card -->
    <div id="parrafo" class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="{% static 'img/Goya/Retrato de Goya.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">Francisco De Goya</h5>
            <p id="subfont2" class="card-text">Francisco José de Goya y Lucientes, fue un pintor y grabador español, entre sus obras destacan Caballete, Mural, Grabado y Dibujo. 
              Su estilo evolucionó desde el rococó, pasando por el neoclasicismo, hasta el prerromanticismo, siempre interpretados de una forma personal y original,
              ​ y siempre con un rasgo subyacente de naturalismo​</p>
            

          <!-- Button trigger modal -->
            <button id="subfont3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Ver biografía del autor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div id="upfont2" class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Francisco Jose de Goya</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="subfont2" class="modal-body">    
                    Nombre : Francisco Jose <br>
                    Apellido : De Goya y Lucientes <br>
                    Fecha de nacimiento : 30 de marzo 1746 <br>
                    Lugar de nacimiento : Fuentedetodos, España <br>
                    Fecha de muerte : 16 de abril 1828 <br>
                    Nacionalidad : Español <br>
                    Uno de los grandes artistas de la historia del arte es Francisco de Goya. Conocido por su innovación, 
                    Goya trabajó todos los géneros adelantándose además a todos los movimientos. Goya siempre fue un adelantado a su tiempo 
                    trabajando antes que nadie en múltiples movimientos pictóricos europeos. Además Goya pasó por todos los géneros destacando 
                    retratos y autorretratos así como escenas costumbristas. El artista también destaca por sus perfectas representaciones de 
                    momentos históricos.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Goya/Los fusilamientos del 3 de mayo.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">Los fusilamientos del 03 de mayo</h5>
            <p id="subfont2" class="card-text">El 3 de mayo en Madrid es un cuadro terminado en 1814 que se conserva en el Museo del Prado. La intención de Goya era plasmar 
              la lucha del pueblo español contra la dominación francesa en el marco del levantamiento del dos de mayo, al comienzo de la guerra de Independencia española..</p>
          </div>
          <div class="card-footer">
            <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Goya/La maja vestida.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">La maja vestida</h5>
            <p id="subfont2" class="card-text">Este lienzo, vinculado a La maja desnuda, se cree que pudo ser pintado unos años después que ésta. La maja está tumbada sobre un costado en 
              un sofá verde cubierto en parte con una colcha blanca y almohadones. Tiene las piernas ligeramente flexionadas y los brazos tras la cabeza.
              El artista hace uso de una mayor libertad pictórica en este cuadro con respecto a La maja desnuda, mucho más académica. Utiliza pinceladas sueltas y pastosas con 
              las que se recrea en las vestiduras de la maja. Capta con habilidad las veladuras del tejido blanco que cubre su cuerpo y el brillo del fajín rosado y de los chapines. Se detiene en el encarnado del rostro y en los cabellos negros.</p>
          </div>
          <div class="card-footer">
            <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Goya/El Aquelarre.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">El Aquelarre</h5>
            <p id="subfont2" class="card-text">En el centro de la escena, que tiene lugar a la luz de la luna, se está llevando a cabo un ritual de brujería. El diablo, en forma de macho cabrío y tocado con unas hojas de vid que aluden a la iconografía de Baco, 
              preside un círculo formado por brujas. Ante él una mujer le ofrece a un recién nacido al tiempo que una anciana tiende en sus brazos a un niño esquelético. De espaldas al macho cabrío otra mujer sostiene sobre su hombro una vara 
              de la que penden fetos humanos. En segundo plano, aunque individualizado mediante un halo de luz, se distingue un grupo de figuras femeninas cubiertas con túnicas blancas sobre cuyas cabezas vuelan murciélagos..</p>
          </div>
          <div class="card-footer">
            <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
          </div>
        </div>
      </div>
    </div>
  

    <script>
      const searchButton = document.getElementById('search-button');
    
      searchButton.addEventListener('click', () => {
        const searchInput = document.getElementById('search-input');
        const searchTerm = searchInput.value.toLowerCase();
        let page = '';
    
        switch (searchTerm) {
          case 'monet':
            page = '/monet/';
            break;
          case 'van gogh':
            page = '/vangogh/';
            break;
          case 'friedrich':
            page = '/friedrich/';
            break;
          case 'millet':
            page = '/jeanmillet/';
            break;
          case 'goya':
            page = '/goya/';
            break;
          default:
            break;
        }
    
        if (page !== '') {
          window.location.href = page;
        }
      });
    </script>
    
</body>
</html>
{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}