{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous">
	</script>
    <link rel="stylesheet" href="style.css">
    <title>Grupo Zero</title>
    <link rel="shortcut icon" href="img/icono/icono2.png">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body id="body">
  <a href="/formulario/" class="boton-flotante">
    <button class="btn"><p class="contacto">Contacto</p></button></a>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
            
        </div>
      </div>
    </nav>
    
    

  <div style="position: relative;">
    <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
    <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
  </div>
  <br>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 0"></button>
        </div>
        <div class="carousel-inner" >
          <a class="carousel-item active"href="monet.html">
            <img src="{% static 'img/Carousel/Monet.jpg' %}" class="d-block w-100" alt="Sol Naciente">
            <div class="carousel-caption d-none d-md-block">
              <h5 id="upfont">SOL NACIENTE - MONET</h5>
              <p id="subfont">Impresionismo / Año 1872 / Óleo sobre lienzo / 48cm x 63cm </p>
            </div>
          </a>
          <a class="carousel-item" href="vangogh.html">
            <img src="{% static 'img/Carousel/VangGogh.jpg' %}" class="d-block w-100" alt="La noche estrellada">
            <div class="carousel-caption d-none d-md-block">
              <h5 id="upfont">LA NOCHE ESTRELLADA - VAN GOGH</h5>
              <p id="subfont">Post Impresionismo / Año 1880 / Óleo sobre lienzo / 73cm x 92cm </p>
            </div>
          </a>
          <a class="carousel-item" href="C.friedrich.html">
            <img src="{% static 'img/Carousel/Friedrich.jpg' %}" class="d-block w-100" alt="El caminante sobre el mar de nubes">
            <div class="carousel-caption d-none d-md-block">
              <h5 id="upfont">EL CAMINANTE SOBRE EL MAR DE NUBES - FRIEDRICH</h5>
              <p id="subfont">Romanticismo / Año 1818 / Pintura al óleo / 95cm x 75cm </p>
            </div>
          </a>
          <a class="carousel-item" href="jeanmillet.html">
            <img src="{% static 'img/Carousel/François-Millet.jpg' %}" class="d-block w-100" alt="Les Glaneuses">
            <div class="carousel-caption d-none d-md-block">
              <h5 id="upfont">LAS ESPIGADORAS - MILLET </h5>
              <p id="subfont">Realismo / Año 1857 / Pintura al óleo / 84cm x 112cm </p>
            </div>
          </a>
          <a class="carousel-item" href="goya.html">
            <img src="{% static 'img/Carousel/Goya.jpg' %}" class="d-block w-100" alt="La maja vestida">
            <div class="carousel-caption d-none d-md-block">
              <h5 id="upfont">LA MAJA VESTIDA - GOYA</h5>
              <p id="subfont">Romanticismo / Año 1805 / Pintura al óleo / 97cm x 190cm</p>
            </div>
          </a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <script>
        var myCarousel = document.querySelector('#carouselExampleCaptions')
        var carousel = new bootstrap.Carousel(myCarousel, {
          interval: 4000, // establece el intervalo de tiempo en milisegundos para el deslizamiento automático
          pause: false,  // asegura que el carrusel no se detenga cuando el mouse está sobre él
        })
      
        setInterval(function() {
          carousel.next();
        }, 4000);  // establece el mismo intervalo de tiempo que se usó para el carrusel
      </script>

<br>
</br>
<br>
</br>
<br>
</br>

<script>
  const searchButton = document.getElementById('search-button');

  searchButton.addEventListener('click', () => {
    const searchInput = document.getElementById('search-input');
    const searchTerm = searchInput.value.toLowerCase();
    let page = '';

    switch (searchTerm) {
      case 'monet':
        page = '/monet/';
        break;
      case 'van gogh':
        page = '/vangogh/';
        break;
      case 'friedrich':
        page = '/friedrich/';
        break;
      case 'millet':
        page = '/jeanmillet/';
        break;
      case 'goya':
        page = '/Goya/';
        break;
      default:
        break;
    }

    if (page !== '') {
      window.location.href = page;
    }
  });
</script>

    
</body>

</html>

{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}