{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeanMillet</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="shortcut icon" href="img/icono/icono2.png">
    <link rel="import" href="plantillashtml/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body id="body">
  <a href="/formulario/" class="boton-flotante">
    <button class="btn"><p class="contacto">Contacto</p></button></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
    </nav>

    <div style="position: relative;">
      <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
      <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
    </div>
    <br>

  <div id="parrafo" class="card mb-3" style="max-width: 1200px;">       <!-- aca se cambia color del parrafo con css -->
    <div class="row g-6">
      <div class="col-md-3">
        
        <img src="{% static 'img/Jean Millet/Jean Millet.jpg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Jean-François Millet</h5>
          <p id="subfont2" class="card-text">Jean-François Millet (Gruchy, Gréville-Hague; 4 de octubre de 1814 - Barbizon, Sena y Marne; 20 de enero de 1875) fue un pintor 
            francés realista que nació en una familia campesina. Se preparó con un pintor local de Cherburgo y luego estudió en París en 1837 con Delaroche.</p>
          

          <!-- Button trigger modal -->
          <button id="subfont3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver biografía del autor
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 id="upfont2" class="modal-title fs-5" id="exampleModalLabel">Jean-François Millet</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="subfont2" class="modal-body">
                    Nombre : Jean-François 
                    Apellido : Millet 
                    Fecha de nacimiento : 04 de cotubre de 1814
                    Lugar de nacimiento : Gruchy, Gréville-Hague, Francia 
                    Fecha de muerte : 20 de enero de 1875
                    Influido por Daumier, trabajó un estilo pastoral con toques socialistas que siguió desarrollando en el pueblo de Barbizon, en el bosque de 
                    Fontainebleau, donde se instaló en 1849 con Theodore Rousseau, Narcisse Díaz y otros. Los miembros de este grupo, conocido como la Escuela de Barbizon 
                    e influidos por Corot, los paisajistas holandeses del siglo XVII y Constable, fueron los precursores del impresionismo. Se destaca por sus escenas 
                    de granjeros, donde quiere expresar la inocencia del hombre campesino en contraposición a la degradación que acompaña al ciudadano inmerso en la sociedad industrial. 
                    Se le incluye en los movimientos realista y naturalista. Murió en Barbizon en 1875.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div id="parrafo" class="card h-100">    <!-- aca se cambia color del parrafo con css -->
        <img src="{% static 'img/Jean Millet/Les planteurs de pommes de terre.jpg' %}" class="card-img-top" alt="el caminate " height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Les Planteurs de pommes de terre</h5>
          <p id="subfont2" class="card-text">El cuadro Les Planteurs de pommes de terre ó Potato Planters como tambien se le conoce en Inglés, es una pintura al óleo sobre lienzo de la escuela de Barbizon creada por Jean-François Millet en 1861. Vive en el Museo de Bellas Artes de Boston en los Estados Unidos.</p>
        </div>
        <div class="card-footer">
          <smedium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</smedium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">      <!-- aca se cambia color del parrafo con css -->
        <img src="{% static 'img/Jean Millet/Una pastora con su rebaño.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Una pastora con su rebaño </h5>
          <p id="subfont2" class="card-text">Una pastora con su rebaño es un nombre que corresponde a dos obras del pintor francés Jean-François Millet. Con estas dos obras él sigue el tema de sentimentalismo utilizando la imagen de una mujer campesina con su rebaño de ovejas de dos maneras diferentes.​</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">            <!-- aca se cambia color del parrafo con css -->
        <img src="{% static 'img/Jean Millet/Louise-Antoinette Feuardent.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Louise-Antoinette Feuardent</h5>
          <p id="subfont2" class="card-text">El cuadro Louise-Antoinette Feuardent, del pintor Francés Jean François Millet, representa a la esposa de su amigo de toda la vida, Félix-Bienaimé Feuardent, un empleado de la biblioteca de Cherburgo. Mide 73.3 x 60 cm, pintura de óleo sobre lienzo.</p>
        </div>
        <div class="card-footer">
          <medimum id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medimum>
        </div>
      </div>
    </div>
  </div>


  <script>
    const searchButton = document.getElementById('search-button');
  
    searchButton.addEventListener('click', () => {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();
      let page = '';
  
      switch (searchTerm) {
        case 'monet':
          page = '/monet/';
          break;
        case 'van gogh':
          page = '/vangogh/';
          break;
        case 'friedrich':
          page = '/friedrich/';
          break;
        case 'millet':
          page = '/jeanmillet/';
          break;
        case 'goya':
          page = '/Goya/';
          break;
        default:
          break;
      }
  
      if (page !== '') {
        window.location.href = page;
      }
    });
  </script>

</body>
</html>

{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}