{% extends "pie.html" %}

{% block content %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
    <style>
       
       

            .form {
                max-width: 400px;
                margin: 0 auto;
                background-color: #222;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                color: #fff;
            }
    
            .form label {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }
    
            .form-control {
                background-color: #333;
                border: none;
                border-radius: 5px;
                padding: 10px;
                color: #fff;
                margin-bottom: 15px;
            }
    
            .form-control:focus {
                outline: none;
                box-shadow: 0 0 5px #007bff;
            }
    
            .btn-primary {
                background-color: #007bff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                transition: background-color 0.3s ease;
            }
    
            .btn-primary:hover {
                background-color: #0056b3;
            }
       
    </style>

</head>

<body id="body">
    <a href="/formulario/" class="boton-flotante">
        <button class="btn"><p class="contacto">Contacto</p></button>
    </a>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="nav" class="container-fluid">
            <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
                        <ul class="dropdown-menu">
                            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
                            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
                            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
                            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
                            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
                        {% else %}
                            <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                            <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
                        {% endif %}
                    </li>
                </ul>
                <form id="search-form" class="d-flex" role="search">
                    <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>

                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}

                            {{ form | crispy }}

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ONQr2whs/+8wv/tSTtnyodFCbUoHj4vZ1NaIL6fXnlAI9HrZYmqC5zJVD5WWRaMM" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}

{% block footer %}
    {% include "pie.html" %}
{% endblock %}