{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monet</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>    
    <link rel="shortcut icon" href="img/icono/icono2.png">
    <link rel="import" href="plantillashtml/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body id="body">
  <a href="/formulario/" class="boton-flotante">
    <button class="btn"><p class="contacto">Contacto</p></button></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
    </nav>

    <div style="position: relative;">
      <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
      <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
    </div>
    <br>

    <div id="parrafo" class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="{% static 'img/Monet/Monet-SelfPortrait.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Oscar-Claude Monet</h5>
          <p id="subfont2" class="card-text">Pintor francés considerado uno de los pilares y pieza clave del impresionismo, término que deriva del título de su obra Impresión, sol naciente (1872).
            En 1858 entró en el estudio del artista suizo Charles Gleyre, donde conoció a pintores como Pierre-Auguste Renoir, Alfred Sisley y Frédéric Bazille. Conocido sobre todo por sus 
            series de pinturas que representan el mismo tema, como Nenúfares.</p>
          
          <!-- Button trigger modal -->
          <button id="subfont3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver biografía del autor
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 id="upfont2" class="modal-title fs-5" id="exampleModalLabel">Oscar-Claude Monet</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="subfont2" class="modal-body">
                  Nombre : Oscar-Claude <br>
                  Apellido : Monet <br>
                  Fecha de nacimiento : 14 de noviembre 1840 <br>
                  Lugar de nacimiento : París, Francia <br>
                  Fecha de muerte : 5 de diciembre 1926 <br>
                  Nacionalidad : Francés <br>
                  Obras principales; Impresión - Sol naciente, Nenúfares, El puente japonés <br>
                  Claude Monet es un pintor francés conocido por su aportación en el movimiento artístico denominado Impresionismo. Nacido en París, el 14 de noviembre de 1840, 
                  pasa su infancia en Normandía, en la ciudad de El Havre, donde se instala junto a su familia con tan sólo cinco años. Poco a poco, el joven Monet logra desarrollar su pasión, 
                  empezando por la caricatura y, en 1859, estudiando pintura en la Academia Suiza de París, con el apoyo de su padre. Su marcha a Argelia al servicio militar en 1861 interrumpe 
                  sus estudios, sin embargo, continúa experimentando diferentes efectos artísticos. A su vuelta a París en 1862 tras una enfermedad que contrae (pleuresía), conoce al pintor 
                  suizo Charles Gleyre y trabaja junto a Alfred Sisley, Auguste Renoir y Frédéric Bazille, que se convertirán en buenos amigos.
                  Durante la segunda mitad de la década de 1860, Monet pinta un estilo que recuerda al de Edouard Manet. 
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

<hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div id="parrafo" class="card h-100">
        <img src="{% static 'img/Monet/Crepúsculo, Venecia.jpg' %}" class="card-img-top" alt="Crepúsculo, Venecia" height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Crepúsculo Venecia</h5>
          <p id="subfont2" class="card-text">Obra clásica del impresionismo pintada por Claude Monet en 1908. Se trata de uno de los cuadros más representativos del pintor. Caracterizado por los tonos anaranjados con los que el artista pecibió el ocaso de la ciudad italiana. Se distinguen: el agua y la catedral de Venecia.
            Actualmente esta pintura está expuesta en el Museo de Arte Bridgestone, Tokio.</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">
        <img src="{% static 'img/Monet/PuenteArgenteuil.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Puente de Argenteuil</h5>
          <p id="subfont2" class="card-text">El puente de Argenteuil (en francés Le pont d'Argenteuil) es un cuadro al óleo del pintor francés Claude Monet de 1874. 
            Se encuentra en el Museo de Orsay en París. 
            En 1871 Monet se estableció en Argenteuil gracias a la ayuda financiera de Manet: allí pintó junto a otros impresionistas como Renoir, Sisley y Pissarro.</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="parrafo" class="card h-100">
        <img src="{% static 'img/Monet/SolNaciente.jpg' %}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 id="upfont2" class="card-title">Sol Naciente</h5>
          <p id="subfont2" class="card-text">Impresión, sol naciente es un cuadro del pintor francés Claude Monet, que dio su nombre al movimiento impresionista. 
            Se conserva en el Museo Marmottan Monet de París. Pintado aproximadamente en el año 1872, representa el puerto de Le Havre, 
            ciudad en la que Monet pasó parte de la vida.</p>
        </div>
        <div class="card-footer">
          <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
        </div>
      </div>
    </div>
  </div>

  
  

  <script>
    const searchButton = document.getElementById('search-button');
  
    searchButton.addEventListener('click', () => {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();
      let page = '';
  
      switch (searchTerm) {
        case 'monet':
          page = '/monet/';
          break;
        case 'van gogh':
          page = '/vangogh/';
          break;
        case 'friedrich':
          page = '/friedrich/';
          break;
        case 'millet':
          page = '/jeanmillet/';
          break;
        case 'goya':
          page = '/goya/';
          break;
        default:
          break;
      }
  
      if (page !== '') {
        window.location.href = page;
      }
    });
  </script>
  
</body>
</html>

{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}