 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="../css/pie.css">
    <link rel="shortcut icon" href="../img/icono/icono2.png">
    <title>Pie de página</title>
    <link rel="import" href="plantillashtml/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pie.css' %}">
    
</head>
<body>
  {% block content %}  
  {% endblock %}  
<div id="pie-pagina">
<footer>
    <nav>
      <ul>
        <li><a href="/politicas/" target="_parent">Política de privacidad</a></li>
        <li><a href="/devolucion/" target="_parent">Política de reembolsos</a></li>
        <li><a href="/envio" target="_parent">Política de envío</a></li>
      </ul>
    </nav>
    <p>&copy; 2023 Artistica Grupo 0
      
    
</footer>
</div>

</body>
</html>