{% extends "pie.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vangogh</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="shortcut icon" href="img/icono/icono2.png">
    <link rel="import" href="/pie.html">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body id="body">
  <a href="/formulario/" class="boton-flotante">
    <button class="btn"><p class="contacto">Contacto</p></button></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div id="nav" class="container-fluid">
        <a id="nav2" class="navbar-brand" href="/index/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
        <a id="nav2" class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu">
            <li><a id="monet-link" class="dropdown-item" href="/monet/">Monet</a></li>
            <li><a id="vangogh-link" class="dropdown-item" href="/vangogh/">Van Gogh</a></li>
            <li><a id="friedrich-link" class="dropdown-item" href="/friedrich/">Friedrich</a></li>
            <li><a id="millet-link" class="dropdown-item" href="/jeanmillet/">Jean Millet</a></li>
            <li><a id="goya-link" class="dropdown-item" href="/goya/">Goya</a></li>
          </ul>
            </li>
            
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a id="nav2" id="salir-link" class="navbar-brand" href="/logout/">salir</a>
      </li>
            {% else %}
              <li class="nav-item">
                <a id="nav2" id="ingresar-link" class="navbar-brand" href="/login/">ingresar</a>
                <a id="nav2" id="registrar-link" class="navbar-brand" href="/register/">Registrar</a>
              </li>
            {% endif %}
          </ul>
          <form id="search-form" class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button id="search-button" class="btn btn-outline-success" type="button">Ir</button>
          </form>
        </div>
      </div>
      
    </nav>
    <div style="position: relative;">
      <img src="{% static 'img/Carousel/Fondo.jpg' %}" alt="Foto de Fondo" style="width:100%; height:100%;">
      <h1 id="Titulo2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Artistica Grupo Zero</h1>
    </div>
    <br>

    <!-- Card -->
    
    <div id="parrafo" class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="{% static 'img/Vangogh/Auto Retrato Van Gogh.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">Vincent Van Gogh</h5>
            <p id="subfont2" class="card-text">Vincent Willem Van Gogh fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo. 
                 ​Pintó cerca de 800 cuadros y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de 
                arte en París, quien le prestó apoyo financiero de manera continua y desinteresada.​</p>
            

            <!-- Button trigger modal -->  
            <button id="subfont3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Ver biografía del autor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 id="upfont2"class="modal-title fs-5" id="exampleModalLabel">Vincent Van Gogh</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="subfont2" class="modal-body">    
                    Nombre : Vincent Williem <br>
                    Apellido : Van Gogh <br>
                    Fecha de nacimiento : 30 de marzo de 1853 <br>
                    Lugar de nacimiento : Zundert, Países Bajos <br>
                    Fecha de muerte : 29 de julio de 1890 <br>
                    Nacionalidad : Alemán <br>
                    En las décadas finales del siglo XIX, el impresionismo marcó el inicio de una profunda renovación 
                    de las artes plásticas que tendría continuidad en la sucesión de ismos o corrientes del arte contemporáneo. Algunos de los mejores 
                    maestros de este periodo, sin embargo, no pueden encasillarse en ninguna escuela, y abrieron por sí solos nuevos caminos; entre ellos, 
                    el neerlandés Vincent Van Gogh ocupa una posición señera.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Vangogh/La Noche Estrellada.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">La noche estrallada</h5>
            <p id="subfont2" class="card-text">La noche estrellada es un óleo sobre lienzo del pintor postimpresionista neerlandés Vincent Van Gogh. Pintado en junio de 1889, 
                representa la vista desde la ventana orientada al este de su habitación de asilo en Saint-Rémy-de-Provence, justo antes del amanecer, con la 
                adición de un pueblo imaginario. Ha estado en la colección permanente del Museo de Arte Moderno de la ciudad de Nueva York desde 1941, adquirida 
                a través de Lillie P. Bliss Bequest. Ampliamente considerada como la obra maestra de Van Gogh,​ La noche estrellada es una de las pinturas más 
                reconocidas en la historia de la cultura occidental.​</p>
          </div>
          <div class="card-footer">
            <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</medium>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Vangogh/Terraza de café por la noche.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">Terraza de café por la noche</h5>
            <p id="subfont2" class="card-text">Terraza de café por la noche (también conocida como Terraza del café de la Place du Forum en Arlés por la 
                noche) es una pintura del neerlandés Vincent van Gogh realizada en Arlés en septiembre de 1888 representando el ambiente de una terraza.
                En esta pintura Van Gogh expresó sus nuevas impresiones de Francia meridional. La obra representa un café en la ciudad de Arlés, que en aquel entonces 
                llamaba "Café Terrace" y que más tarde se renombró como "Café Van Gogh".</p>
          </div>
          <div class="card-footer">
            <smedium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000</smedium>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="parrafo" class="card h-100">
          <img src="{% static 'img/Vangogh/Los comedores de patatas.jpg' %}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 id="upfont2" class="card-title">Los comedores de patatas</h5>
            <p id="subfont2" class="card-text">Los comedores de patatas (también, Los comedores de papa o Los campesinos comiendo patatas; Aardappeleters, en neerlandés) 
                es un cuadro del pintor Vincent van Gogh, que creó en abril de 1885 mientras residía en Nuenen, Países Bajos. Se encuentra en el Museo Van Gogh 
                de Ámsterdam. La versión que se encuentra en el Museo Kröller-Müller de la ciudad de Otterlo es un bosquejo preliminar en óleo.</p>
          </div>
          <div class="card-footer">
            <medium id="subfont2" class="text-muted">Valor mínimo CLP $1.000.000 XD</medium>
          </div>
        </div>
      </div>
    </div>

   

    <script>
      const searchButton = document.getElementById('search-button');
    
      searchButton.addEventListener('click',() => {
        const searchInput = document.getElementById('search-input');
        const searchTerm = searchInput.value.toLowerCase();
        let page = '';
    
        switch (searchTerm) {
          case 'monet':
            page = '/monet/';
            break;
          case 'van gogh':
            page = '/vangogh/';
            break;
          case 'friedrich':
            page = '/friedrich/';
            break;
          case 'millet':
            page = '/jeanmillet/';
            break;
          case 'goya':
            page = '/goya/';
            break;
          default:
            break;
        }
    
        if (page !== '') {
          window.location.href = page;
        }
      });
    </script>

</body>
</html>

{% endblock %}


{% block footer %}
   {% include "pie.html" %}
{% endblock %}