/* Estilos para el pie de página */
#pie-pagina {
    background-color: rgb(128, 39, 39);   
    color: #fff;
    height: 100px;
  }
  
  #pie-pagina p {
    margin-top: 0;
    line-height: 50px;
  }
  
  #pie-pagina ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  #pie-pagina li {
    margin: 0 10px;
  }
  
  #pie-pagina a {
    color: #fff;
    text-decoration: none;
  }
  
  #pie-pagina a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para la etiqueta <footer> */
  footer {
    text-align: center;
  }
  
  #Titulo2 {
    text-align: center;
    margin-top: 0;
    color: oldlace;
    font-family: serif;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(128, 39, 39); 
    font-weight: bold;
  }