#carouselExampleCaptions{
    width: 800px; height: 450px;
    background-color: #ffffff;
	margin: auto;  
}

.carousel-inner img {
	width: 800px !important;
	height: 450px !important;
    margin: auto;

}

#body {
    background-color: rgb(240, 224, 191);
    width: 100%;
    margin: 0;
    padding: 0;

}

#parrafo {
    
    background-color: rgb(239, 218, 218); 
}

#nav {
    border-style:groove;
    background-color: rgb(128, 39, 39);
    color: rgb(128, 39, 39);
}

#boton{
    background-color: rgb(238, 218, 218);
    font-family: serif;
}

#blanco{
    background-color: #be2424;
}

#fuente{
    font-family: serif;
    color: brown;
}

#nav2{
    color: beige;
    font-family: serif;
}

#upfont{
    font-family: serif;
    font-size: 150%;
    color: oldlace;
}

#subfont{
    font-family: serif;
    font-size: 130%;
    color: oldlace;
}

#upfont2{
    font-family: serif;
    font-size: 150%;
    color: black;
}

#subfont2{
    font-family: serif;
    font-size: 110%;
    color: black;
}

#subfont3{
    font-family: serif;
    font-size: 110%;
    color: oldlace;
}




.boton-flotante {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: rgb(128, 39, 39);
    color: rgb(56, 10, 10);
    border: oldlace;
    border-width: 10px;
    border-radius: 50%;
    cursor: auto;
    font-family: serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 999;
}
  

.contacto{
    font-size: large;
    color: oldlace;
    display: flex;
    margin-top: 20%;
}


#web {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    border-style:groove;
    background-color: rgb(128, 39, 39);    
    color: oldlace;

    
}
#Titulo {
    text-align: center;
    margin-top: 0;
    color: oldlace;
    font-family: serif;
}

#Titulo2 {
    text-align: center;
    margin-top: 0;
    color: oldlace;
    font-family: serif;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(128, 39, 39); 
    font-weight: bold;
  }
  



#frame {
    width: max-content;
}

